<p style="color: green"><%= notice %></p>

<h1>Notes</h1>

<div id="notes"></div>

<%= link_to "New note", new_note_path %>

<% content_for :head do %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "components/notes/index/entry", "data-turbo-track": "reload", defer: true %>
<% end %>
