<h1>Welcome, this is the home page</h1>

<button
  type="button"
  class="btn btn-lg btn-danger"
  data-bs-toggle="popover"
  title="Popover title"
  data-bs-content="Amazing content, right ?">
    Click to toggle popover
</button>

<% content_for :head do %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "components/home/home", "data-turbo-track": "reload", defer: true %>
<% end %>
